<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Pagina de registro:</h1>
    <form action="/register" method="post">
        <input type="text" placeholder="Ingrese un usuario" name="username" >
        <input type="password" placeholder="Ingrese una password" name="password">
        <input type="email" placeholder="mail@mail.com" name="email">
        <input placeholder="FirstName" type="text" name='firstName'>
        <input placeholder="LastName" type="text" name='lastName' >
        <input type="submit" value="Crear">
    </form>
</body>
</html>